.form-container{
    width: 600px;
    border: 1px solid red;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.input-group label{
    display: block;
}
.input-group input{
    width: 415px;
    height: 55px;
    border: 1px solid red;
    border-radius: 5px;
}